<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lgsach"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lgsach"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".account.EditProfile"
            android:exported="false" />
        <activity
            android:name=".homestory.EditStory"
            android:exported="false" />
        <activity
            android:name=".homestory.AddChappter"
            android:exported="false" />
        <activity
            android:name=".homestory.AddStory"
            android:exported="true" />
        <activity
            android:name=".ui.ChapterDetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.ChapterListActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.auth.api.signin.v2.GoogleSignIn"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".premium.Premium"
            android:exported="true" />
        <activity
            android:name=".premium.LichSuMuaHangActivity"
            android:exported="true" />
        <activity
            android:name=".premium.Payment"
            android:exported="true" />
        <activity
            android:name=".Test"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".account.OTPPass"
            android:exported="true" />
        <activity
            android:name=".account.ForgetPass"
            android:exported="true" />
        <activity
            android:name=".account.ListCategory"
            android:exported="true" />
        <activity
            android:name=".account.Login"
            android:exported="true" />
        <activity
            android:name=".account.PassRegister"
            android:exported="true" />
        <activity
            android:name=".account.EmailRegister"
            android:exported="true" />
        <activity
            android:name=".account.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>